# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080
PUBLIC_PATH=/
TEST_RIBBON=Test
CLIENT_ID=
CLIENT_SECRET=

ALLOW_SHOPPING_CART=true

# DEVELOPMENT
BASE_API_URL=http://localhost/layarweb/api-reseller/public/
BASE_WEB_URL=http://localhost:8080/

# PRODUCTION
# BASE_API_URL=https://api1.tokobuka.id/
# BASE_WEB_URL=https://di.tokobuka.id/
